{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}

  <div class="container">
    <h1>About Duck Duck Gööse</h1>
      <br/><br/>

      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet faucibus arcu, in vehicula nisl aliquet ut. Aliquam sodales vulputate mi quis tincidunt. Nullam in tempor eros. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent pretium ornare mauris. In suscipit massa sit amet nibh hendrerit congue. Pellentesque at imperdiet lorem. Integer viverra eros nec neque lacinia, laoreet bibendum dolor vulputate. Duis laoreet urna sit amet faucibus sodales. Pellentesque urna lacus, imperdiet vel est at, convallis cursus lorem. Maecenas dapibus lorem consectetur egestas faucibus. Nulla risus magna, scelerisque et fermentum in, sagittis a sapien. Pellentesque quis purus at arcu fringilla tincidunt. In id sagittis enim. Nam vehicula ut dolor pellentesque ultricies. Proin ornare leo at iaculis maximus.
          <br/> <br/>
        Vivamus velit nibh, bibendum a elementum vitae, auctor at nulla. Nulla hendrerit lectus eget consequat semper. Suspendisse dignissim commodo eleifend. Nullam ut viverra arcu. Curabitur non lectus ut nisl pellentesque dictum. Donec nec euismod ligula. Mauris quam ante, congue quis massa in, vestibulum finibus eros. Fusce mollis, diam ac viverra sodales, libero libero tempor tellus, iaculis maximus neque enim non nulla. Fusce convallis dolor id bibendum ornare. Duis magna elit, dapibus vitae diam eget, varius faucibus erat. Morbi in lorem augue. Mauris sit amet justo eget diam rutrum vestibulum ac vitae ante. Cras a lorem posuere, hendrerit ante vitae, accumsan tortor. Pellentesque ullamcorper et metus quis tincidunt. Pellentesque porta bibendum elit scelerisque vestibulum. Proin vitae risus vitae tellus consectetur bibendum eu eu felis.
          <br/> <br/>
        Morbi quis purus a dui dapibus pharetra vitae vitae mi. Donec mauris tellus, tincidunt nec malesuada non, malesuada bibendum dolor. Nunc imperdiet tincidunt pellentesque. Suspendisse sed dui quis nibh pharetra accumsan sed id purus. Suspendisse rhoncus lorem non arcu tempor dignissim. Aenean sit amet purus purus. Aliquam sagittis in felis id pharetra.
      </p>
      </div>

{% endblock %}