{% extends 'base.html' %}
{% block title %}Welome to Duck Duck Gööse{% endblock %}

{% block content %}
  <div class="container">
    <h1>Duck Duck Gööse!</h1>
    <br/><br/><br/>
  </div>
<div class="titles">
    <h2>Duck</h2>

    <h2>Duck</h2>

    <h2>Duck</h2>

    <h2>Gööse!</h2>

</div>

  <br/>
    <div class="image-row">

      <img src="{{ url_for('static', filename='images/duck1.png')}}" width="200" alt="Duck 1">
      <br/>

      <img src="{{ url_for('static', filename='images/duck2.png')}}" width="200" alt="Duck 2">
      <br/>

      <img src="{{ url_for('static', filename='images/duck3.png')}}" width="200" alt="Duck 3">
      <br/>

      <img src="{{ url_for('static', filename='images/goose.png')}}" width="200" alt="GOOSE">
      <br/>

</div>

{% endblock %}